# IntelliJ IDEA project files
.idea/
*.iml
# Java build files
*.class
# Logs
*.log

# MacOS specific
.DS_Store

# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
